<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBtX7Nh53yQHkrttbD3LOT0kO_Jrip3tGo</string>
	<key>GCM_SENDER_ID</key>
	<string>56897545987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leejahun.weavestory</string>
	<key>PROJECT_ID</key>
	<string>weave-story-app</string>
	<key>STORAGE_BUCKET</key>
	<string>weave-story-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56897545987:ios:355b6a28697f6eda54eb36</string>
</dict>
</plist>